body {
    margin-left: 300px;
}

p {
    font-size: 21px;
}

button {
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    border-color: transparent;
}

div.dice {
    background-color: black;
    border-width: 5px;
    height: 75px;
    width: 75px;
}

button#reroll, button#end-turn, button.score {
    display: none;
}

span.images {
    cursor: pointer;
    display: inline-block;
    background-color: darkgray;
}

span#tank {
    border-style: outset;
    border-color: royalblue;
    border-width: 5px;
}